
:root{
  --bs-body-font-size:16px;
  --bs-body-font-weight:400;
  --bs-ghost-white-rgb: 248,249,253;
}
body {
  margin: 0;
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(31,33,49,0);
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  
}
 img{
  max-width: 100%;
 }


.bg-ghost-white{
  background-color: rgba(248,249,253);
  opacity: 1;
}
.container-xxl{
  padding: 0 40px;
}

.px-34 {
  padding-right: 34px;
  padding-left: 34px;
}
.btn {
  transition: color 0.25s ease-in-out,background-color 0.25s ease-in-out,border-color 0.25s ease-in-out,box-shadow 0.25s ease-in-out,-webkit-box-shadow 0.25s ease-in-out;
}

.gap-20 {
  gap: 20px;
}
.border-alice-blue {
  border-color: #F0EEFF;
}
.is-20 {
  width: 20px;
  height: 20px;
}
.ms-20 {
  margin-left: 20px;
}

.my-34 {
  margin-top: 34px;
  margin-bottom: 34px;
}
.mt-60 {
  margin-top: 60px;
}

.btn:hover {
  -webkit-box-shadow: 0px 19px 29px rgba(62,53,120,0.14);
  box-shadow: 0px 19px 29px rgba(62,53,120,0.14);
}

body.page__homepage .main .hero-image-img {
  width: 100%;
  height: auto;
}

.rounded-circle{
  line-height: 1;
}
 .swiper-wrapper .swiper-slide{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.py-60 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.heading-text-1 {
  font-size: 1.1875rem;
  font-weight: 400;
}
.heading-section-1 {
  font-size: calc(1.4125rem + 1.95vw);
  font-weight: 600;
  line-height: 1.5;
}
.mt-43 {
  margin-top: 43px;
}

.accordion.accordion-number .accordion-item {
  border: 0;
}
.accordion-item:first-of-type {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.accordion-item {
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.125);
}

.accordion.accordion-number .accordion-item .accordion-button {
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 7px 22px rgba(143,134,196,0.07);
  box-shadow: 0px 7px 22px rgba(143,134,196,0.07);
}
.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.accordion-button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 1rem 1.25rem;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  background-color: #fff;
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  -webkit-transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,border-radius 0.15s ease,-webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,border-radius 0.15s ease,-webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,border-radius 0.15s ease;
  transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,border-radius 0.15s ease,-webkit-box-shadow 0.15s ease-in-out;
}
.accordion.accordion-number .accordion-item:not(:first-child) {
  margin-top: 34px;
}
.accordion.accordion-number .accordion-item .accordion-button .accordion-number {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: calc(1.34375rem + 1.125vw);
  font-weight: 600;
  width: 80px;
  min-width: 80px;
  height: 80px;
  margin-right: 24px;
  border-radius: 24px;
  color: rgb(142, 34, 226);
  background: rgba(142, 34, 226, 0.1);
}
.accordion.accordion-number .accordion-item .accordion-button .accordion-number.text-ufo-green {
  --bs-text-opacity: 1;
  background-color: rgba(61,205,101,0.1);
  color: rgba(61,205,101,1);
}
.accordion.accordion-number .accordion-item .accordion-button .accordion-content .accordion-body {
  font-size: 1rem;
  font-weight: 400;
  color: #909090;
  margin-top: 14px;
  padding: 8px;
}

.accordion.accordion-number .accordion-item .accordion-button .accordion-content .accordion-header {
  font-size: calc(1.29375rem + 0.525vw);
  font-weight: 600;
  color: #363848;
  padding-right: 60px;
  margin-top: auto;
  margin-bottom: auto;
  width: inherit;
}

body.page__homepage .main .how-it-work-image-img {
  max-width: 100%;
  max-height: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  border-radius: 40px;
}

body.page__homepage .main .how-it-work-figure-1 {
  /* bottom: calc(100% - 0rem); */
  left: calc(100% - 9rem);
  width: 15rem;
}
body.page__homepage .main .how-it-work-figure-2 {
  bottom: calc(100% - 2rem);
  right: calc(100% - 8rem);
  width: 3rem;
}

body.page__homepage .main .how-it-work-figure-3 {
  top: calc(100% - 5rem);
  right: calc(100% - 2rem);
  width: 3rem;
}
.accordion-button::after{
  position: absolute;
  right: 20px;
  top: 25px;
}
.gap-12 {
  gap: 12px;
}
.mb-60 {
  margin-bottom: 60px;
}

.heading-section-3 {
  font-size: calc(1.325rem + 0.9vw);
  font-weight: 600;
  line-height: 1.5;
}
.heading-text-2 {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
}


.card.card-icon {
  padding: 40px;
  border: 0;
  border-radius: 30px;
  -webkit-box-shadow: 0px 7px 22px rgba(143,134,196,0.07);
  box-shadow: 0px 7px 22px rgba(143,134,196,0.07);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.card.card-icon:hover {
  -webkit-box-shadow: 0px 19px 29px rgba(62,53,120,0.14);
  box-shadow: 0px 19px 29px rgba(62,53,120,0.14);
}

.card.card-icon .card-box-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 81px;
  height: 81px;
  border-radius: 20px;
}

.bg-outrageous-orange { 
  background-color: rgba(255,117,76);
}
.card.card-icon .card-text {
  font-size: 0.875rem;
  font-weight: 400;
  color: #363848;
  margin-top: 22px;
}
.card-text:last-child {
  margin-bottom: 0;
}

.card.card-icon .card-title {
  font-size: calc(1.3125rem + 0.75vw);
  font-weight: 600;
  color: #363848;
  margin-top: 22px;
  margin-bottom: 0;
}
.card.card-icon .card-box-icon .svg-icon {
  width: 41px;
  height: 41px;
}

.bg-medium-orchid {
  background-color: rgba(191,88,217);
}
.bg-picton-blue{
  background-color: rgba(59,178,244);
}
.my-12 {
  margin-top: 12px;
  margin-bottom: 12px;
}


.categoriesimg .img {
  position: relative;
  transition: all 1s ease-in-out;
}
.img:hover .hoverbaleImagedefault {
  opacity: 0;
  height: 0;
}
.img:hover .hoverbaleImage {
  opacity: 1;
  height: auto;
}
.categoriesimg{
  text-align: center;
  margin-bottom: 40px;
}

.categoriesimg .img img {
  cursor: pointer;
}

.hoverbaleImage {
  opacity: 0;
  height: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.counter {
  position: relative;
  display: -ms-grid;
  display: grid;
  background-color: #5F4BDB;
  gap: 60px;
  overflow: hidden;
  padding: 80px;
  border-radius: 20px;
}

.counter .count-item {
  display: -ms-grid;
  display: grid;
  gap: 5px;
  text-align: center;
  z-index: 5;
}

.counter .count-item .count-number {
  font-size: calc(1.4375rem + 2.25vw);
  font-weight: 600;
  color: #FFFFFF;
}

.counter .count-item .count-title {
  font-size: 1rem;
  font-weight: 400;
  color: #FFFFFF;
}

.heading-section-2 {
  font-size: calc(1.35rem + 1.2vw);
  font-weight: 600;
  line-height: 1.5;
}

.navwrapper ul li {
  width: 50%;
  text-align: center;
  margin-bottom: 50px;
  
}
.navwrapper ul li.active{
  border-bottom: 5px solid #14a800;
}
.navwrapper ul {
    text-align: center;
    max-width: 1170px;
    margin: 0 auto;
}

.navwrapper ul.nav-tabs .nav-link {
  border: none;
    display: block;
    border-bottom: 1px solid #a0a0a0;
    text-align: center;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    color: #000 ;
}
.navwrapper ul.nav-tabs .nav-link.active{
  border-bottom: 5px solid #14a800;
  color: #14a800;
}
.footer form {
  max-width: 485px;
}

.footer form .form-newsletter {
  background-color: transparent;
  border: 1px solid #363843;
}

.form-btn-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFFFFF;
  padding: 7px;
}

 .form-newsletter .form-control {
  color: #FFFFFF;
  border: none;
  background-color: transparent;

}
.py-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}
.btn-accent {
  color: #000;
  background-color: #FE8D4D;
  border-color: #FE8D4D;
  border-radius: inherit;
}
.btn-accent:hover{
  background-color: #FE8D4D;
  border-color: #FE8D4D;
  border-radius: inherit;
}
.form-btn-inner .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

footer.footer.bg_black {
  /* background: #000; */
  position: relative;
  background-image: url('../FreelanceHomepage/images/Footer\ 2.png');
  background-size: cover;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;

}

.footer .footer-widget.about .footer-brand img {
  max-width: 130px;
}
.footer .footer-widget.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.footer .footer-widget.about .footer-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #FFFFFF;
  margin-bottom: 0;
  margin-top: 34px;
}
.footer .footer-widget .footer-title {
  font-size: 18px;
  font-weight: 600;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.footer .footer-widget.link-list .footer-link-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
} 
.footer .footer-widget.link-list .footer-link-list .link-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 0;
}

.footer .footer-widget.link-list .footer-link-list .link-item .link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
  text-decoration: none;
}
.border-arsenic {
  border-color: #363848;
}
.footer .footer-widget.link-list .footer-link-list .link-item .svg-icon {
  color: #FFFFFF;
  width: 22px;
  min-width: 22px;
  height: 22px;
  margin-right: 13px;
}




.my-12 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.job-card-grid {
  position: relative;
  background-color: #FFFFFF;
  /* padding: 40px 30px; */
  border-radius: 18px;
  -webkit-box-shadow: 0px 2px 28px 0px rgba(62,53,120,0.04);
  box-shadow: 0px 2px 28px 0px rgba(62,53,120,0.04);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.job-card-grid .job-info .job-image img{
  border-radius: 10px; 
}

/* .job-card-grid:hover {
  -webkit-box-shadow: 0px 19px 29px rgba(62,53,120,0.14);
  box-shadow: 0px 19px 29px rgba(62,53,120,0.14);
} */

.job-card-grid .job-info .job-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 14px;
  text-align: center;
  margin: 12px 0;
  padding: 15px 10px;
}
.job-card-grid .job-info .job-title a {
  color: #363848;
  text-decoration: none;
}

.py-25 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.top-footer{
  background: url('./images/footer-bg.png'), lightgray 50% / cover no-repeat;
background-position: center;
height: 100%;
width: 100%;
position: relative;
max-width: 1300px;
margin: 0 auto;
padding: 6px 20px;
z-index: 55;
}

/* 
.footer.bg_black::before {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  height: 100%;
  overflow: hidden;
  left: 0;
  top: 0;
  z-index: -1;
  top: -110px;
  background: url('./images/Vector.png');
  background-size: cover;
} */
@media (min-width: 768px){
.w-md-50 {
    width: 50%;
}
.counter {
  -ms-grid-columns: auto auto;
  grid-template-columns: auto auto;
}
}

@media (min-width: 992px){
  .my-lg-60 {
      margin-top: 60px;
      margin-bottom: 60px;
  }
  body.page__homepage .main .hero-image-img {
   
    width: 40rem;
    
}
.counter {
  -ms-grid-columns: auto 60px auto 60px auto 60px auto;
  grid-template-columns: auto auto auto auto;
  gap: 0 60px;
  padding: 80px;
}
.counter .count-item {
  gap: 15px;
}
.py-lg-43 {
  padding-top: 43px;
  padding-bottom: 43px;
}
.px-lg-34 {
  padding-right: 34px;
  padding-left: 34px;
}

}
@media (min-width: 1200px){
  .my-xl-120 {
      margin-top: 120px;
      margin-bottom: 120px;
  }
  .heading-header-1 {
    font-size: 3.75rem;
}
  
  .order-lg-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  body.page__homepage .main .hero-image-img {
    width: 52rem;
}

.heading-section-1 {
  font-size: 2.875rem;
}
.accordion.accordion-number .accordion-item .accordion-button .accordion-number {
  font-size: 2.1875rem;
}
.accordion.accordion-number .accordion-item .accordion-button .accordion-content .accordion-header {
  font-size: 1.6875rem;
}

body.page__homepage .main .how-it-work-figure-1 {
  bottom: calc(100% - 25rem);
  left: calc(100% - 10rem);
  width: 17rem;
}
body.page__homepage .main .how-it-work-figure-2 {
  bottom: calc(100% - 2rem);
  right: calc(100% - 12rem);
  width: 5rem;
}
.heading-section-3 {
  font-size: 2rem;
}
body.page__homepage .main .how-it-work-figure-3 {
  top: calc(100% - 8rem);
  right: calc(100% - 3rem);
  width: 5rem;
}
.w-xl-34 {
  width: 34%;
}
.w-xl-85 {
  width: 85%;
}
.card.card-icon .card-title {
  font-size: 1.875rem;
}
.counter .count-item .count-number {
  font-size: 3.125rem;
}
.py-xl-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}
.heading-section-2 {
  font-size: 2.25rem;
}

.footer form .form-newsletter .form-control {
  padding: 0 25px;
}

  }

  @media (min-width: 1400px){
    body.page__homepage .main .hero-image-img {
      width: 57rem;
  }
  .container-xxl{
    max-width: 1620px;
    padding: 0 40px;
  }
  .mx-xxl-15 {
    margin-right: 15px;
    margin-left: 15px;
}
  }



  @media(max-width:767.98px) {
    .container-xxl{
      padding: 0 15px;
    }
    .py-60{
      padding-top: 30px;
    padding-bottom: 30px;
    }
    body.page__homepage .main .how-it-work-figure-1 {
      /* bottom: calc(100% - 0rem); */
      width: 9rem;
      left: auto;
      right: -48px;
  }
  .accordion.accordion-number .accordion-item .accordion-button .accordion-number {
    width: 70px;
    min-width: 70px;
    height: 70px;
}
.card.card-icon{
  padding: 20px;
}
.w-xl-85.row>*{
  padding: 0;
}
.counter{
  padding: 20px;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

}
.mb-60 {
  margin-bottom: 30px;
}
.top-footer{
  top: 0;
}
.mt-60 {
  margin-top: 30px;
}
.mt-60 a{
  white-space: nowrap;
}
.px-34{
  padding-right: 18px;
  padding-left: 18px;
}
.job-card-grid{
  margin-right: 20px;
}
.py-25 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.heading-section-2{
  font-size: 17px;
}
.form-btn-inner .py-12{
  padding-top: 0;
  padding-bottom: 0;
}
footer.footer.bg_black{
  padding-top: 40px;
}

}

  